<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR_PATH" value="./logs" />
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>


    <!-- 로그들을 파일에 출력시키는 것에 대한 관리 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR_PATH}/logback.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR_PATH}/logback_backup.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- 로그들을 콘솔에 출력시키는 것에 대한 관리 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${LOG_PATTERN}</Pattern>
        </layout>
    </appender>


    <!-- 전체 로그에 대한 참조 설정 -->
    <root>
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT" />
    </root>

</configuration>