# Private
# 개인 작업 공간을 작업 디렉토리에 두고 싶을 경우, 'private'라는 폴더명을 사용해 주세요
private 
tmp

# Common
**/.vscode
**/logs
**/workDirs
**/target

# Frontend
frontend/node_modules

# Mock
**/__pycache__
**/.flaskenv
**/venv